@import url('https://fonts.cdnfonts.com/css/google-sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    height: 100px;
}

.headerLogo h4 {
    color: #150734;
    font-size: 1.2rem;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
}

nav {
    display: block;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

nav a {
    padding: 20px;
    margin-top: 25px;
    font-size: 1.4rem;
    color: #150734;
    transition: all .5s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#welcome {
    background-color: #150734;
    padding-top: 150px;
}

#welcome h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

#welcome span {
    color: orange;
}

#welcome h2 {
    color: #fff;
    font-size: 2.3rem;
}

#welcome p {
    color: #fff;

}

#welcome button {
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}

#welcome img {
    width: 100%;
    margin-top: -110px;
}

#sabout {
    background-color: #f0f0f0;
    width: full;
}

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
    padding-left: 20px;
}

.aboutText {
    width: 45%;
}

.aboutText h1 {
    color: #150734;
    font-weight: 900;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.aboutText p {
    font-size: 22px;

}



#contact-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 65%;
    height: 70vh;
    border-radius: 8px;
    margin-left: 50px;
}

.form-container {
    width: 100%;
    max-width: 500px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button[type="submit"] {
    background-color: #150734;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #150734;
}

.edu{
    background-color: white;
    width: full;
}

#education-background {
    max-width: 800px;  
    margin: 40px auto;  
    padding: 20px;
    background-color: #b8b4b4;  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7); 
    height: 80vh;
}

#education-background h1 {
    color: #150734; /* Dark grey color */
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#education-background p {
    color: #666;  
    line-height: 2; 
    text-align: justify;
    padding-top: 20px;
    font-size: 20px;
}


/*#contact {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #150734;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#contact h1 {
    color: orange;
}

#contact h4 {
    color: #fff;
}

#contact a {
    color: #fff;
    text-decoration: none;
}
*/
#education {
    background-color: gainsboro;
    padding: 10px;
    height: 50vh;
    text-align: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 70px;
}

#education h1 {
    color: #150734;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

#education p {
    text-transform: lowercase;
    text-decoration: solid;
    line-height: 2;
}

footer {
    background-color: orange;
    color: #150734;
    text-align: center;
    padding: 15px;
}